<form method="GET" action="get_post.php">
    <input type="text" name="name" placeholder="nama kamu ?">
    <input type="text" placeholder="alamat kamu ?" name="address">
    <input type="submit" value="submit">
</form>